<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
</head>
<body>
    <img src="https://gcdnb.pbrd.co/images/HzJbjjw6fSpp.png?o=1" class="mb-3" />
    <p>Dear: <i>{{To}}</i></p>
    <p>{{Body}}</p>
    <p>Thank you for using our <b>Social Listening</b> service<br><b>These are your reports of <i class="text-info">"{{Project}}"</i> project:</b></p>
        {{Link}}
    <p class="font-size">Best Regards!</p>
    <br />
    <img src="https://gcdnb.pbrd.co/images/JGQxGxN0x3Lj.png?o=1" class="mb-2"/>

    <p class="text-muted m-0">
        Address: Hoa Lac High-Tech Park, Thach Hoa, Thach That, Hanoi (FPT University)<br />Phone: 099922112<br />
        Website:
        <a href="http://www.sociallis.com.vn">http://www.sociallis.com.vn</a> <br />
        Contact with our team: (+84) 973245766
    </p>
</body>
</html>
